<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Detalle de persona</title>
</head>
<body>

	<h3><%= persona.nombre %> - <%= persona._id %></h3>
	<p><%= persona.telefono %></p>
	<p><%= persona._rev %></p>

</body>
</html>