<!doctype html>
<html>
<head>
	<title>Agregar Producto</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css">
</head>
<body>

	<div class="container">
		<div class="hero-unit">
			<h2>Agregar producto</h2>
		</div>
		<form method="post"><%- csrf_token %>
			<label for="nombre">Nombre: </label><input type="text" name="nombre" id="nombre">
			<label for="precio">Precio: </label><input type="text" name="precio" id="precio"><br>
			<button type="submit" class="btn btn-success"><i class="icon-white icon-ok"></i> Agregar</button>
		</form>
	</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>