<!DOCTYPE>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Detalle de Persona</title>
</head>
	<body>
		<h2><%= persona.nombre %> - <%= persona._id %></h2>
		<p><%= persona.telefono %></p>
		<p><%= persona._rev %></p>
	</body>
</html>