<!DOCTYPE>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Agregar Producto</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css">
</head>
	<body>
		<div class="container">
			<header>
				<div class="hero-unit">
					<h2>Agregar Producto</h2>
				</div>
			</header>
			<form method="post">
				<label>Nombre: </label><input type="text" name="nombre" id="nombre" autofocus>
				<label>Precio: </label><input type="text" name="precio" id="precio"><br>
				<button type="submit" class="btn btn-success"><i class="icon-white icon-ok"></i> Agregar</button>
				<a href="/" class="btn btn-primary"><i class="icon-white icon-backward"></i> Volver</a>
			</form>
		</div>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>