<!DOCTYPE>
<html lang="es">
<head>
    <title>Editar Producto</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css">
</head>
	<body>
		<div class="container">
			<div class="hero-unit">
				<h2>Editar Producto</h2>
			</div>
			<form method="post">
				<label>Nombre: </label><input type="text" name="nombre" id="nombre" value="<%= producto.nombre %>">
				<label>Precio: </label><input type="text" name="precio" id="precio" value="<%= producto.precio %>"><br>
				<button type="submit" class="btn btn-success"><i class="icon-white icon-ok"></i> Editar</button>
				<a href="/" class="btn btn-primary"><i class="icon-white icon-backward"></i> Volver</a>
			</form>
		</div>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>